.story-container {
    height: 125rem;
}

.team-container {
    height: 30rem;
    color: white;
}

.team-header {
    text-align: center;
    margin: 50px 0;
}

.team-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

.team-icon {
    border-radius: 220px;
    height: 20rem;
    width: 130%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    border: 1px solid rgba(170, 165, 165, 0.377);
}

.team-icon:hover {
    transform: scale(1.05);
}

.team-name {
    font-size: 24px;
    margin-top: 15px;
}

.team-box {
    width: 100%;
    margin-left: 30px;
}

.p1 {
    color: orange;
}

.p2 {
    color: cyan;
}

.p3 {
    color: violet;
}

.p4 {
    color: #34f703;
}