.j-image-container {
    height: 31rem;
    border-radius: 30px;
    border: 1px solid #f7f1f13a;
    background-image: linear-gradient(to left, rgba(20,20,20,0.4), rgba(5,5,5,0.86)), url('../assets/images/Story.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}