/* .story-hero {
    position: relative;
    top: 10rem;
    color: white;

}

.story-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #c2bfbf;
}

.story-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    border: 1px solid #04f00452;
    background: #1447144b;
    border-radius: 30px;
    padding: 2px 10px;
    color: #d9d9d9e8;
    font-size: 10px;
}

.story-header-icon {
    width: 15px;
    height: 15px;
}

.story-text {
    margin: 60px 0;
}

.journey-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-content: center;
    height: 50rem;
}

.j-tab {
    width: 40%;
    padding: 10px;
}

.journey-header {
    font-size: 50px;
}

.journey-text {
    font-size: larger;
    line-height: 35px;
    letter-spacing: 1px;
    color: #d9d9d9fd;
}

.rating {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    padding: 30px 0;
}

.rate-head1 {
    color: orange
}

.rate-head2 {
    color: cyan;
}

.rate-head3 {
    color: rgb(252, 6, 252);
}

.rate-text {
    color: #bbb8b8;
}

.j-image-container {
    height: 31rem;
    position: relative;
    z-index: 5;
    width: 80%;
    border-radius: 30px;
    background-image: linear-gradient(to left, rgba(20, 20, 20, 0.404), rgba(5, 5, 5, 0.863)), url('../assets/images/Story.svg');
    background-size: cover;
    border: 1px solid #f7f1f13a;
}

.tag-icon {
    position: absolute;
    top: 26rem;
    left: 32rem;
} */

.story-hero {
  position: relative;
  top: 10rem;
}

.story-header-icon {
  width: 15px;
  height: 15px;
}

.story-text {
  margin: 60px 0;
}

.j-image-container {
  z-index: 5;
}

.tag-icon {
  position: absolute;
}


/* Story Tabs */

/* .storytabs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    width: 100%;
    height: 26rem;
    color: white;
    margin: 20px 0;
}

.story-tab {
    border: 1px solid rgba(128, 128, 128, 0.788);
    border-radius: 30px;
    height: 15rem;
    width: 22%;
    background: #31313128;
    padding: 40px;
    cursor: pointer;
}

.s-tab-text {
    line-height: 30px;
    letter-spacing: 1px;
    color: #c9c4c4bd;
} */

.storytabs-container {
  color: white;
}

.story-tab {
  cursor: pointer;
  background: #31313128;
  border: 1px solid rgba(128, 128, 128, 0.788);
  border-radius: 30px;
  height: 15rem;
}

.s-tab-text {
  line-height: 30px;
  letter-spacing: 1px;
  color: #c9c4c4bd;
}
