body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; 
    box-shadow: border-box;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar  */

.navbar-links .nav-link {
    color: white !important;
}

.navbar-links .nav-link:hover {
    color: #33ff00 !important;
}

.nav-btn {
    background: #33ff00 !important;
    border-radius: 30px !important;
    color: black !important;
}

.nav-btn:hover {
    box-shadow: 0 0 10px #33ff00 !important;
    background: #33ff00 !important;
    color: whitesmoke !important;
}

/* Tabs */

.tab {
  border: 1px solid #555;
  border-radius: 20px;
  height: 24rem;
  overflow: hidden;
  color: white;
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(5px);
  transition: 0.4s ease-in-out;
}

.tab:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 30px rgba(51, 255, 0, 0.3);
}

.tab-image {
  width: 100%;
  height: 45%;
  object-fit: cover;
  transition: 0.4s ease-in-out;
}

.tab-image:hover {
  transform: scale(1.1);
}

.tab-head {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  color: #ffb11f;
}

.tab-text {
  font-size: 16px;
  padding: 0 10px;
}

.tab-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.tab-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background: #33ff00;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.tab-btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 15px #33ff00;
  color: white;
}

.tab-item-price {
  font-size: 20px;
  font-weight: bold;
  color: #33ff00;
}


.nav-span {
    color: #33ff00;
}

<<<<<<< HEAD
=======

>>>>>>> homepage
/* Media Queries  */

@media (min-width: 992px) {
    .navbar-links {
        margin-left: 25rem;
    }
}

@media (max-width: 992px) {
    .navbar-links {
        margin-left: 0;
    }
}

